<body>

  <app-header></app-header>

  <main id="about">

    <h1 class="lg-heading">
      About <span style="color:rgb(240, 80, 106)">Me</span>
    </h1>
    <br>
    <h2 class="sm-heading"></h2>
    <br>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="30%">
        <img class="img" src="../../assets/images/harsh.jpeg" alt="Hyo Chang Kim">
      </div>
      <br>
      <div fxFlex="15%">
        <button class="button"><a href="../../assets/images/Hyo Chang Kim Resume.pdf" target="_blank">Resume</a></button>
        <div class="icon">
          <a href="https://twitter.com/123Harshsir" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://www.linkedin.com/in/harsh-kumar-50a7a61a9/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://github.com/harsh6768-svg" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </div>
      </div>
      <br>
      <div fxFlex="55%">
        <mat-card class="about1-card">
          <mat-card-content>
            <p>I am currently working on these website it is a python based website which includes django as a backend so i learnt a lot of stuff about backend like runserver ,migrations,etc from these website .apart from that these website is not live it has been just deployed on heroku app .you can just check the link of website<br><a href="https://www.careerchela.herokuapp.com/about-me/" target="_blank"><strong><em>My website link here...</em></strong></a></p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>
    <br>
    <div class="container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="0.5%"
         fxLayoutAlign="center">
      <div fxFlex="33%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">Academics</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>B tech  in Computer Science And Engineering<br> - Kalinga Institue Of  Industrial Technology</p>
            <p>Senior Secondary(10+2) from <br> -Modern Vidya Niketan Sec 17 Faridabad</p>
            <p>Inter from <br> - Dav Public School Sec 37 Faridabad</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">Coding</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Major League Hacking Build for Freshers(Local Hack Day)</p>
            <p></p>
            <p>Some Frontend Development Projects at <a href="https://github/aksh-ops" target="_target"><strong><em>shivnation</em></strong></a></p>
            <p>Certification Badges Earned at <a href="https://hackerrank.com/h1905391" target="_target"><strong><em>Acclaim</em></strong></a></p>
            <p>C++ Codes and Solutions at <a href="https://github.com/harsh6768-svg" target="_blank"><strong><em>GitHub</em></strong></a></p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="34%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">Work Experience</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Security Analyst/Devops  at KK Herbal Industries</p>
            <p>UI/UX Designer/Security Analyst/Devops at MakeCareerEasy</p>
            <p>Front End Developer at CareerGuidance</p>
            <p>Ethical Hacker(Kali linux specialisation in phising, metasploit etc)</p>
            <p>Cloud Developer(Kiit Acm Cloud Department)</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </main>

  <app-footer></app-footer>

</body>
