<body>

<app-header></app-header>

<br>

<main>

  <h1 class="lg-heading">
    My <span style="color:rgb(240, 80, 106)">Projects</span>
  </h1>
  <br>
  <h2 class="sm-heading">
    Check out some of my projects and skills....
  </h2>

  <br>

  <div class="container"
       style="height: 100%;"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="10px"
       fxLayoutAlign="space-evenly none">
    <div fxFlex="33%">
      <mat-card class="project-card">
        <mat-card-header class="project-header">
          <mat-card-title class="project-title">Docker Kubernetes Deployment</mat-card-title>
        </mat-card-header>
        <div class="resp-container">
          <iframe class="resp-iframe"src="https://www.youtube.com/embed/i7ABlHngi1Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <mat-card-content>
          <p>
                Docker Deployment on different websites using jenkins Kubernetes etc.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><a href="https://github.com/harsh6768-svg"  target="_blank">Code</a></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="33%">
      <mat-card class="project-card">
        <mat-card-header class="project-header">
          <span>Mongo Database Design Using PyMongo</span>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/MongoDB2.jpg" alt="Database Design">
        <mat-card-content>
          <p>
                Web application to manage database using mongodb in python.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><a href="https://www.mongodb.com"  target="_blank">Website</a></button>
          <button mat-button><a href="https://github.com/harsh6768-svg"  target="_blank">Code</a></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="34%">
      <mat-card class="project-card">
        <mat-card-header class="project-header">
          <mat-card-title class="project-title">KKHERBALINDUSTRIES</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/KKHerbal_logo.jpg" alt="Calculator">
        <mat-card-content>
          <p>
                Team Project
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><a href="https://www.kkherbal.in"  target="_blank">Demo</a></button>
          <button mat-button><a href="https://github.com/harsh6768-svg//KKHerbal"  target="_blank">Code</a></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
<br>
<br>
  <div class="container"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap="10px"
       fxLayoutAlign="center">
    <div fxFlex="33%">
      <mat-card class="project-card">
        <mat-card-header class="project-header">
          <mat-card-title class="project-title">MakeCareerEasy</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/edu1.jpg" alt="Simon Game">
        <mat-card-content>
          <p>
            Team Project
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><a href="https://www.careerchela.herokuapp.com"  target="_blank">Demo</a></button>
          <button mat-button><a href="https://github.com/harsh6768-svg/makecareereasy"  target="_blank">Code</a></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="33%">
      <mat-card class="project-card">
        <mat-card-header class="project-header">
          <mat-card-title class="project-title">CareerGuidance</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images//careerguidance.jpg" alt="Wikipedia Viewer">
        <mat-card-content>
          <p>
            Team(Hrithik Tiwari ,Harsh Kumar)
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><a href="#"  target="_blank">Demo</a></button>
          <button mat-button><a href="https://github.com/harsh6768-svg/indiasgym"  target="_blank">Code</a></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="34%">
      <mat-card class="project-card">
        <mat-card-header class="project-header">
          <mat-card-title class="project-title">My Portfolio</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/portfolio.png" alt="Pomodoro Clock">
        <mat-card-content>
          <p>
            My Personal Portfolio
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><a href="https://harsh6768-svg.github.io/resume/"  target="_blank">Demo</a></button>
          <button mat-button><a href="https://github.com/harsh6768-svg/resume"  target="_blank">Code</a></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</main>

<br>

<app-footer></app-footer>

</body>
